FormulaIA/bin/Socket/Servidor.class
FormulaIA/bin/Socket/MainServidor.class
FormulaIA/bin/Socket/MainCliente.class
FormulaIA/bin/Socket/Conexion.class
FormulaIA/bin/Socket/Cliente.class
FormulaIA/bin/Interfaz/InterfazPiloto.class
FormulaIA/bin/Interfaz/InterfazMecanico.class
FormulaIA/bin/Interfaz/InterfazIngeniero.class
FormulaIA/bin/piloto$Comportamiento.class
FormulaIA/bin/Wheel_set.class
FormulaIA/bin/piloto.class
FormulaIA/bin/mecanico.class
FormulaIA/bin/Ingeniero_pista.class
FormulaIA/bin/App.class
FormulaIA/.vscode/settings.json
.vscode/settings.json
APDescription.txt
MTPs-Main-Container.txt
proyecto IA.docx
FormulaIA/README.md
FormulaIA/src.zip
